/* .navbar {
  background-color: #101011;
}

.nav-div{
  margin-left: 690px;
  /* margin-right: auto;
} */


.navbar {
  background-color: #2C3E50;
}
.navbar-brand{
  font-size: 32px;
  font-weight: 700;
}
.nav-link{
  font-weight: 700;
  text-transform: uppercase;
}
.custom-background{
  background-color: #1ABC9C;
}
