<section>
  <div class="footer py-3">
      <div class="container-fluid row ">
          <div class="footer-item col-md-4 py-5 px-5">
              <div class="text-center">
                  <h3>LOCATION</h3>
                  <p>2215 John Daniel Drive</p>
                  <p>Clark, MO 65243</p>
              </div>
          </div>
          <div class="footer-item col-md-4 py-5 px-5">
                  <div class="text-center">
                      <h3>AROUND THE WEB</h3>
                      <div class="icons">
                          <i class="fa-brands fa-facebook mx-1 icon"></i>
                          <i class="fa-brands fa-twitter mx-1 icon"></i>
                          <i class="fa-brands fa-linkedin-in mx-1 icon"></i>
                          <i class="fa-solid fa-globe mx-1 icon"></i>
                      </div>
                  </div>
          </div>
          <div class="footer-item col-md-4 py-5 px-5">
                  <div class="text-center">
                      <h3>ABOUT FREELANCER</h3>
                      <p> Freelance is a free to use, licensed Bootstrap theme created by Walid Shaker  </p>
                  </div>
          </div>
      </div>
  </div>
  <div class="copyright text-center py-4">
      <p>Copyright ©  <span class="text-info"> Walid Shaker </span>  2024</p>
  </div>
</section>
