<div class="mb-4">
  <div class="pt-3 conatiner">
      <div>
          <div class="text-center mt-5 pt-4 text-black">
              <h2 class="text-uppercase mb-3 fs-1 fw-bolder pt-2 mt-2 text-center">CONATCT SECTION</h2>
              <div class="d-flex align-items-center justify-content-center mb-3">
                  <div class="line me-3" style="background-color: black;"></div>
                  <i class="fa-solid fa-star"></i>
                  <div class="line ms-3" style="background-color: black;"></div>
              </div>
          </div>
              <form class="w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid">
                  <label class="position-relative top-0 __top custom-label d-none">userName : </label>
                  <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
                  <label class="position-relative top-0 __top custom-label d-none">userAge : </label>
                  <input id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
                  <label class="position-relative top-0 __top custom-label d-none">userEmail : </label>
                  <input id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
                  <label class="position-relative top-0 __top custom-label d-none">userPassword : </label>
                  <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
                  <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
              </form>
      </div>
  </div>
</div>
