<!-- <div class="portfolio-container">
  <div class="hero text-center">
    <h1>Portfolio</h1>
    <p>Check out some of our recent projects.</p>
  </div>

  <div class="projects my-5">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let project of projects">
        <div class="card">
          <img [src]="project.image" class="card-img-top" alt="Project Image">
          <img src="assets/images/portfoo1.png" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<body>
  <div style="margin-top: 86px; min-height: calc(-106px + 100vh);">
          <div class="mb-4">
              <div class="pt-4">
                  <h2 class="text-uppercase mb-3 fs-1 fw-bolder pt-2 mt-2 text-center">PORTFOLIO COMPONENT</h2>
                  <div class="d-flex align-items-center justify-content-center mb-3">
                      <div class="line me-3" style="background-color: black;"></div>
                      <i class="fa-solid fa-star"></i>
                      <div class="line ms-3" style="background-color: black;"></div>
                  </div>
                  <div class="container">
                      <div class="row g-5">
                          <div class="col-lg-4 col-md-6">
                              <div class="rounded-3 overflow-hidden position-relative">
                                  <img alt="" class="w-100 rounded-3" src="./assets/images/portfo1.png">
                                  <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center layer-icon">
                                      <i class="text-white fa-solid fa-plus fa-6x"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="rounded-3 overflow-hidden position-relative">
                                  <img alt="" class="w-100 rounded-3" src="./assets/images/portfo2.png">
                                  <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center layer-icon">
                                      <i class="text-white fa-solid fa-plus fa-6x"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="rounded-3 overflow-hidden position-relative">
                                  <img alt="" class="w-100 rounded-3" src="./assets/images/portfo3.png">
                                  <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center layer-icon">
                                      <i class="text-white fa-solid fa-plus fa-6x"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="rounded-3 overflow-hidden position-relative">
                                  <img alt="" class="w-100 rounded-3" src="./assets/images/portfo1.png">
                                  <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center layer-icon">
                                      <i class="text-white fa-solid fa-plus fa-6x"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="rounded-3 overflow-hidden position-relative">
                                  <img alt="" class="w-100 rounded-3" src="./assets/images/portfo2.png">
                                  <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center layer-icon">
                                      <i class="text-white fa-solid fa-plus fa-6x"></i>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-6">
                              <div class="rounded-3 overflow-hidden position-relative">
                                  <img alt="" class="w-100 rounded-3" src="./assets/images/portfo3.png">
                                  <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center layer-icon">
                                      <i class="text-white fa-solid fa-plus fa-6x"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="model__ position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center current-image d-none">
                  <img alt="" src="assets/images/portfo1.png">
              </div>
          </div>
  </div>


</body>
